* {
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;

}

.container {
    display: block;
    justify-content: center;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 30%;
}

.form {
    background: none;
    background-color: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#logocontainer {
    background-color: black;
    border: 4px black solid;
    border-radius: 25px;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 400px;
}

#usernamecontainer {
    background-color: black;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}
#userForms{
    display: flex;
    align-content: center;
    background-color: #020202;

    width: 450px;
    margin: auto;
    margin-top: -20px;
}
/* I'm not vey good at css, my problem comes from wanting the whole
width to be color #111111, however, i can't have the two forms centered
 */
#userForms2{
    margin-top: -245px;
    background-color: #020202;
    height: 250px;
}

#userForms3{
    margin-top: -210px;
    background-color: #050505;
    height: 215px;
}

#register{
    text-align: center;
    margin: 10px;
    color: white;
}
#login{
    text-align: center;
    margin: 10px;
    color: white;
}

::placeholder {
    color: white;
}

input[type=text] {
    overflow: hidden;
    background-color: black;
    border: 3px white solid;
    border-radius: 25px;
    font-size: 16px;
    font-family: Fjalla One, sans-serif;
    margin: auto;
    padding: 0;
    text-align: center;
    width: auto;
    color: white;
}
input[type=password] {
    overflow: hidden;
    background-color: black;
    border: 3px white solid;
    border-radius: 25px;
    font-size: 16px;
    font-family: Fjalla One, sans-serif;
    margin: auto;
    padding: 0;
    text-align: center;
    width: auto;
    color: white;
}

#play {
    display: block;
    margin: auto;
    border: 3px white solid;
    border-radius: 15px;
    background-color: #fffb00;
    font-size: 30px;
    font-family: Fjalla One, sans-serif;
    margin-top: 10px;
    width: 130px;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game {
    position: relative;
    display: inline-grid;
    background: black;
}

.square {
    display: block;
}

/*.pacman {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../../../public/assets/pacmanTransparent.gif");*/
/*    background-size: 32px 32px;*/
/*    position: absolute;*/
/*    transform: rotate(0.5turn);*/
/*}*/

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 896px;
    height: 640px;
    border: 10px solid #333;
    box-shadow: 5px 5px 10px #444;
    margin: 30px auto 0;
    position: relative;
}

.wall{
    background-color: darkslateblue;
}

.empty {
    background: black;
}

.food{
  border: 8px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}

.powerpill{
    border: 5px solid black;
    border-radius: 50%;
    background-color: orange;
}

.ghost {
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.scared {
    background: blue !important;
}

.blinky {
    background: red;
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.pinky {
    background: pink;
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.inky {
    background: cyan;
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.clyde {
    background: orange;
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.pacman {
    background: yellow;
    border: none;
    border-radius: 50%;
    clip-path: polygon(
            0 0,
            32px 0,
            32px -8px,
            13px 16px,
            32px 40px,
            32px 32px,
            0 32px
    );
    animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
    50% {
        clip-path: polygon(
                0 0,
                32px 0,
                32px 16px,
                13px 16px,
                32px 16px,
                32px 32px,
                0 32px
        );
    }
}
