body {
    margin: 0;
    padding: 0;
    background: #888;
}

.playArea {
    width: 1800px;
    height: 850px;
    background: #000;
    border: 10px solid #333;
    margin: 30px auto 0;
    box-shadow: 5px 5px 10px #444;
}

.pacman {
    width: 64px;
    height: 64px;
    background-image: url("../assets/Pacman_transparent.gif");
    background-size: 64px 64px;
    position: absolute;
    transform: rotate(0.5turn);
}